*{margin:0;padding: 0;}
a{text-decoration: none;}
body{
	height: 100vh;
	background: url(./wall.png) grey center center no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper{
	padding: 40px 20px;
	background: rgba(255,255,255,0.2);
	border-radius: 10px;
}
kbd{
	border:1px solid red;
	width: 6em;
	height:6em;
	display: inline-block;
	text-transform: uppercase; 
	position: relative;
}
kbd>button{
	position: absolute;
	right: 4px;
	bottom: 2px;
	display: none;
}
kbd:hover>button{
	display: inline-block;
}
header{

}
main{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#main{
	display: inline-block;
}
#main>div:nth-child(2){
	margin-left: 10px;
}
#main>div:nth-child(3){
	margin-left: 10px;
}
.row{
	margin: 20px 0px;
}
.row>.key{
	width: 80px;
	height: 64px;
	border-radius: 10px;
	background: linear-gradient(to bottom,#292929 0%,#111111 100%);
	border:1px solid #373737;
	color: #c5c5c5;
	box-shadow: 0 0 0 1px #1a1b1c,0 0 0 2px #1f2020,0 3px 0 2px #080808;
	margin:0 10px;
	font-family: hevetica;
	font-size: 20px;
	position: relative;
}
.key img{
	width:16px;
	height: 16px;
	position: absolute;
	left: 4px;
	bottom: 2px;
	border-radius: 2px;
}
.key .text{
	position: absolute;
	top: 2px;
	left: 6px;
}
.key>button{
	border-radius: 3px;
	font-size: 2px;
	border:none;
	color: #c5c5c5;
	background-color: #292929;
}