*{margin:0;padding: 0;}
a{text-decoration: none;}
kbd{
	border:1px solid red;
	width: 6em;
	height:6em;
	display: inline-block;
	text-transform: uppercase; 
	position: relative;
}
kbd>button{
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
}
kbd:hover>button{
	display: inline-block;
}
header{
	height:100px;
	background: green;
	margin-bottom: 200px;
}
main{
	text-align: center;

}

#x{
	display: inline-block;
}
#x>div:nth-child(2){
	margin-left: 1em;

}
#x>div:nth-child(3){
	margin-left: 2em;
}